{%extends 'base.html'%}
{%block content%}

  <h1>Category: {{category_name}}</h1>
        <hr> 
        {% for post in posts %}
        <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title}}</a></h2>
        <small>
        	{{post.created_on.date}} |&nbsp;

        	{% for category in post.categories.all %}
                                {%if forloop.first%}
                    	Categories:&nbsp;
            {%endif%}
        	<a href="{%url 'blog_category' category.category%}">
        		{{category.name}}
        	</a>&nbsp;
        	{% endfor %}
        </small>
    <p>{{ post.body | slice:":400"}}...</p>
    {%endfor%}

{%endblock%}