{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<h2>Bearbeite Gegenstand</h2>
<form enctype="multipart/form-data" method="post">
    {%csrf_token%}
    <div class="form-row">
        <div class="col">
            {{form.title|as_crispy_field}}
            <div class="form-group mt-2">
                    {{form.description|as_crispy_field}}
                {{form.status|as_crispy_field}}

                {{form.is_draft|as_crispy_field}}
                <button type="submit" value="Save" class="btn btn-primary mt-2">Save</button>

            </div>
        </div>

    <div class="col">
        {{form.image|as_crispy_field}}
        <img src="{{gegenstand.image.url}}" alt="" width="100%">
    </div>
    </div>



</form>
{%endblock%}