{% extends "base.html" %}
{% load static %}
{% block content%}
<h1>Gegenstände</h1>
<div class="row">
{% for gegenstand in gegenstaende %}
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-2" style="width: 18rem;" style="height: 12rem;">
            <a href="{% url "gegenstand_detail" gegenstand.pk%}">
            <img class="card-img-top" src="{{gegenstand.image.url }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ gegenstand.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ gegenstand.user}}</h6>
                <p class="card-text">{{ gegenstand.description }}</p>
                <p class="card-text">Status: {{ gegenstand.status }}</p>
                {%ifequal user gegenstand.user%}
                <a href="{%url 'gegenstand_update' gegenstand.pk%}" class="btn btn-primary">Bearbeiten</a>
                <a href="{%url 'gegenstand_delete' gegenstand.pk%}" class="btn btn-danger">Löschen</a>
                {%endifequal%}
            </div>

        </div>
    </div>
    

{% endfor %}
</div>
{% endblock %}
